body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    max-width:100vw;

  }
  
  button{
    outline: none;
    cursor: pointer;
  }

/* side bar */
.sideBar {
    width:14rem;
    background-color:#2F313B;
    background-color:#323232;
    text-align: center;
    height:100%;
    padding: .5rem;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; 
      
}
.sidebar , li {
    list-style: none;
    padding:10%;
    color:white;
    margin-right:20%;
}
a {
    text-decoration: none;

}
.sideBar li:hover{
    background-color:#3A3C49;
    transform: scale(1.7);
    transition: all 0.2s ease-in-out;
}
.sideBarToggle, .searchBtn, .addContact{
    border:none;  
    color:white;
    background-color:  #274D7C;
    font-size:1.5rem;
}


/* nav bar */
.nav {
    display:flex;
    justify-content: center;
    background-color:#274D7C;
    color: white;
    height: 2.0rem;
    padding:.7rem;
    }

.search {
    width: 40rem;
    height: 1.5rem;  
    text-align: center;
    }
    /* modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 1;
    animation: show .5s ease;
    overflow-X: hidden;
    overflow-Y: auto;
}

.modalClose {
    display:none;
}
/*modal end */
.addform{
    width: 40%;
    height: 70%;
    background-color: #fff;
    box-shadow: 0, 0, 0.625rem, rgba(0, 0, 0, 0.2);
    text-align: center;
    
}
.addinput{
    padding:2%;
    width: 40%;
    margin: 2%;
    text-align:center;
    
}
.bottom{
    bottom: 0;
    height:13%;
    background-color: #DCDCDC;
    padding-right:2%;
}
hr {
    width: 75%;
}
.submit, .clear {
    padding:1.5%;
    width:20%;
    float: right;
    margin:2%;
    background-color: #30D782;
    color:white;
    border: none;
    font-size:1rem;
    border-radius: 1rem;    
}
.bodyform {
    margin:5%;
}

.addHeader{
    display:flex;
    justify-content: flex-end;
}
.close{
    font-size:3rem;
    border:none;
    margin-left:22%;
    margin-right:5%;
}
/* main contacts display */
.contactDisplay {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 3rem;
}

.contactCard {
    display:flex;
    flex-direction:column;
    text-align:center;
    border:1px solid black;
    height: 28rem;
    width: 22rem;
    /*issues with aligning in center*/
   /* margin-right:3rem;*/
    margin: 0 2rem 3rem 2rem;
    border: 2px solid black;
    display: inline-block;
}
.contactPhoto{
    border-radius: 50%;
    border: 2px solid black;
}
.cardTop{
    padding-top:10%;
}
.cardBottom{
    padding-top:5%;
}
.cardFooter{
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid black;
    background-color:silver;
    height:3rem;
    padding-top:.75rem;
}
.instagram, .facebook,.linkedin, .twitter {
    border:none;  
    background-color:silver;
    font-size:1.5rem;
}
a:visited {
    color: black;
  }
